div.content.popup
    header
    h1= t('leave google title')
    section#step-bigbutton.step
        p.help=t("leave google intro")
        .content-block
            .step-number 1
            .text-block=t("leave google step1 title")
        a#connect-google.btn.btn-primary(title=t("leave google connect label"))
            =t("leave google connect label")

    section#step-pastecode.step
        .content-block
            .step-number 2
            .text-block=t("leave google step2 title")
        form
            label.with-input(for="google-code")
                span= t('google auth_code')
                input#auth_code(type="text", name="auth_code", required)
            a#step-pastecode-ok.btn.btn-primary= t('confirm')

    section#step-pickscope.step.google-services-list
        .content-block
            .step-number 3
            .text-block=t('leave google choice title')

        label(for="google-contacts-import")
            input#google-contacts-import(type="checkbox", name="contacts", value="contacts", checked)
            span.google-services-icons.contacts
            span=t("leave google choice contacts")


        label(for="google-calendar-import")
            input#google-calendar-import(type="checkbox", name="calendars", value="calendars", checked)
            span.google-services-icons.calendar
            span=t("leave google choice calendar")


        label(for="google-photos-import")
            input#google-photos-import(type="checkbox", name="photos", value="photos", checked)
            span.google-services-icons.photos
            span=t("leave google choice photos")


        a#lg-login.btn.btn-primary=t('leave google import data')
