div.content.popup
    if photos.processing || contacts.processing || events.processing
        header
        h1.pa2.matop0.biggest.darkbg.center= t('import running')
    else
        header
        h1.pa2.matop0.biggest.darkbg.center= t('import complete')
    div.content
        if photos.numberPhotos
            div
                if photos.processing
                    h2= t('import photo running')
                else
                    h2= t('import photo complete')
                div(style="height: 8px; margin: 1em 0; border: 1px solid rgba(0,0,0,.12); background: #33A6FF; border-radius: 20px; width: #{(photos.numberPhotos/photos.total) * 100}%")
                p.help= photos.numberPhotos + t("import amount photos") + photos.total
                for url in photos.error
                    p.help= t("import album failure") + url
        if events.number
            div
                if events.processing
                    h2= t('import calendar running')
                else
                    h2= t('import calendar complete')
                div(style="height: 8px; margin: 1em 0; border: 1px solid rgba(0,0,0,.12); background: #33A6FF; border-radius: 20px; width: #{(photos.numberPhotos/photos.total) * 100}%")
                p.help= events.number + t("import amount events") + events.total
        if contacts.number
            div
                if contacts.processing
                    h2= t('import contact running')
                else
                    h2= t('import contact complete')
                div(style="height: 8px; margin: 1em 0; border: 1px solid rgba(0,0,0,.12); background: #33A6FF; border-radius: 20px; width: #{(photos.numberPhotos/photos.total) * 100}%")
                p.help= contacts.number + t("import amount contacts") + contacts.total
        if syncedGmail
            div
                h2= t('gmail account synced')
        if invalidToken
            div.error=t('invalid token')

        unless photos.processing || contacts.processing || events.processing
            p.help= t('import success message')
            a.btn#back-button(href="/", target="_top")=t('back to home')
